.positionMonitor {
    display: flex;

    .positionMonitorLeft {
      
        flex: 1;
        padding: 20px;
    }
    .positionMonitorRight {
        height: 100vh;
        border-left: 1px solid rgba(226, 225, 235, 0.6);
        flex: 5;
    }
}
.contentTitle {
    padding: 1.25rem;
    border-bottom: 1px solid @border-main;

    h1 {
        font-family: Exo;
        font-size: 1.125rem;
        font-weight: 700;
    }
    
}