.alloctionDetailWapper {
    .main-form{
        .title{
          padding: 1.25rem;
          border-bottom: 1px solid #ddd;
          h1{
            font-family: Exo;
            font-size: 1.125rem;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
        .form-part{
          padding: 12px 0;
          .sub-title{
            padding: 0 2.25rem;
            height: 2.2rem;
            background: #D8DAF4;
            h3{
              line-height: 2rem;
            }
          }
          .form-items{
            padding: 1rem 0;
            display: flex;
            .form-left{
              width: 70%;
            }
          }
        }
      }
}